# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nb-configuration-private.xml

# Gradle
.gradle/
build/

# Maven
target/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Eclipse
.vscode/
.classpath
.project

# Operating System Files
.DS_Store
Thumbs.db

**/images/